h1 {
    text-align: center;

}

.racing-game {
  height: 85vh;
  width: 190vh;
  margin: 5px auto;
  position: relative;
  border: solid black 15px;
  margin-top: 60px;
}

.racing-game > img {
  height: 85vh;
  width: 60.5vh;
  position: absolute;
}

.background > img {
  height: 85vh;
  width: 60.5vh;
  position: absolute;
  margin-left: 130.25vh;
}

.streets > img{
  height: 85vh;
  width: 190vh;
  position: absolute;
  margin-left: 0.25vh;
  animation: streetMotion 10s linear infinite; 

} 

.playercar >img {
  height: 20vh;
  position: absolute;
  margin-bottom: 10px;
  margin-left: 80vh;
  margin-top: 60vh;
}

.object > img {
margin-left: 95vh;
height: 15vh;
position: absolute;
display: grid;
animation: object infinite linear 6s;
}
