.gameRacing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;
}

.racing-game {
height: 85vh;
width: 190vh;
margin-top: 0;
position: absolute;
border: solid black 15px;

}

.racing-game > img {
height: 85vh;
width: 60.5vh;
position: absolute;
}

.Green > img {
height: 85vh;
width: 60.5vh;
position: absolute;
margin-left: 130.25vh;
}

.streets {
height: 85vh;
width: 190vh;
position: absolute;
background-image: url("https://img.freepik.com/premium-vector/straight-road-illustration-design_842224-1371.jpg");
margin-left: 0.25vh;
background-size: cover;
} 

.playercar > img {
height: 12vh;
position: absolute;
padding: 0 auto;
margin-bottom: 10px;
margin-left: 100vh;
margin-top: 60vh;
}

.object > img {
height: 15vh;
position: absolute;
margin-left: 72vh;
}

.object1 > img {
margin-left: 110vh;
height: 15vh;
position: absolute;
}

.object2 > img {
height: 15vh;
position: absolute;
left: 48%;
}

@keyframes object {
0% {
   
    top: 10vh;

}
100% {

    top: 80vh; 

}}

@keyframes object1 {
  0% {
     
      top: 10vh;

  }
  100% {

      top: 80vh; 

  }
}

@keyframes object2 {
  0% {
     
      top: 10vh;

  }
  100% {

      top: 80vh; 

  }

}

@keyframes streetMotion {

from {
  background-position-y: 0;

}

to {
  background-position-y: -60%;
}
}

@keyframes playercar {

  0% {
     
    top: 10vh;

}
100% {

    top: -60vh; 

}
}

 .animateop {        
  animation: object 1s  linear infinite;
}
 .animateop1 {        
  animation: object1 2s  linear infinite;
}
 .animateop2 {        
  animation: object2 3s  linear infinite;
}
 .animatestr {        
  animation: streetMotion 8s  linear infinite;
}

.animateop01 {        
  animation: object 4s  linear infinite;
}
 .animateop02 {        
  animation: object1 1s  linear infinite;
}
 .animateop03 {        
  animation: object2 3s  linear infinite;
}
 .animatestr1 {        
  animation: streetMotion 6.5s  linear infinite;
}
             
#start {
 position: absolute;
 cursor: pointer;
 font-size: 16px;
 border-radius: 3px;
 background-color: green;
 margin-left: 12px;
 border: solid black;
}

#stop {
position: absolute;
cursor: pointer;
font-size: 16px;
border-radius: 3px;
background-color: red;
border: solid black;
margin-left: 100px;
}

#score {
position: absolute;
font-size: 16px;
background-color: blue;
border: solid black 3px;
margin-left: 1200px;
}
