h1 {
    text-align: center;

}

.racing-game {
  height: 85vh;
  width: 190vh;
  margin: 5px auto;
  position: relative;
  border: solid black 15px;
  margin-top: 60px;
}

.racing-game > img {
  height: 85vh;
  width: 60.5vh;
  position: absolute;
}

.background > img {
  height: 85vh;
  width: 60.5vh;
  position: absolute;
  margin-left: 130.25vh;
}

 .streets > img{
  height: 85vh;
  width: 190vh;
  position: absolute;
  margin-left: 0.25vh;
  animation: streetMotion 10s linear infinite; 

} 
.streets {
  height: 85vh;
  width: 190vh;
  position: absolute;
  margin-left: 0.25vh;
  background-image: url("https://img.freepik.com/premium-vector/straight-road-illustration-design_842224-1371.jpg");

}

.playercar >img {
  height: 20vh;
  position: absolute;
  margin-bottom: 10px;
  margin-left: 80vh;
  margin-top: 60vh;
}

.object > img {
margin-left: 95vh;
height: 15vh;
position: absolute;
display: grid;
animation: object infinite linear 6s;
}

.object1 > img {
margin-left: 110vh;
height: 15vh;
position: absolute;
display: grid;
animation: object1 infinite linear 4s;
}

.object2 > img {
margin-left: 75vh;
height: 15vh;
position: absolute;
display: grid;
animation: object2 infinite linear 2s;
}

@keyframes object {
  0% {
     
      top: 10vh;

  }
  100% {

      top: 80vh; 

  }}

@keyframes object1 {
    0% {
       
        top: 10vh;
  
    }
    100% {
  
        top: 80vh; 
  
    }
  }

@keyframes object2 {
    0% {
       
        top: 10vh;
  
    }
    100% {
  
        top: 80vh; 
  
    }

  }

@keyframes streetMotion {

  from {
    background-position-y: 0;

  }

  to {
    background-position-y: 100%;
}
}


#start {
   position: absolute;
   cursor: pointer;
   font-size: 16px;
   border-radius: 12px;
   background-color: green;
   left: 30px;
   border: solid black;
}

#stop {
  position: absolute;
  cursor: pointer;
  font-size: 16px;
  border-radius: 12px;
  background-color: red;
  border: solid black;
  margin-left: 100px;
}

#score {
  position: absolute;
  font-size: 16px;
  background-color: white;
  border: solid black 5px;
  margin-left: 1193px;
}